@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700;900&display=swap');

* {
    font-family: 'Biryani';
}

:root {
    --font-size-title: 40px;
    --font-info-title: 34px;
    --font-size-sub-title: 16px;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    max-width: max-content;
}

.animation {
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale();
    }

    70% {
        transform: scale();
        box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
    }

    100% {
        transform: scale();
        box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
    }
}

.area_whatsapp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.area_whatsapp a {
    height: 68px;
}

.area_whatsapp img {
    width: 100%;
    max-width: 68px;
    height: 68px;
    transition: background, padding 400ms ease-in-out;
    box-shadow: 0 0 0 0 #03BF65;
    border-radius: 200px;
}

.area_whatsapp img:hover {
    animation: pulsar;
}

/*Menu*/

header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: #FFFFFF;
}

.menu_open {
    display: none;
}

.close {
    display: none;
}

.menu_mobile {
    display: none;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.area_menu a {
    display: flex;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: max-content;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}


/*Home*/
.container_home {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #03307A;
    padding: 105px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.container_home_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 20px;

}

.area_img_home {
    display: flex;
    max-width: max-content;
    width: 100%;
    position: relative;
    z-index: 1;
}

.bg_luz {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 400px;
    top: 40px;
    right: 50px;
    background: #88F4FA;
    filter: blur(60px);
    -webkit-filter: blur(60px);
    z-index: -1;
}

.area_icon_1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 60px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: linear-gradient(283deg, #F48E15 -5.1%, #F4B615 93.34%);
    box-shadow: 7px 5px 19.3px 0px rgba(244, 142, 21, 0.74);
}

.area_icon_1 img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.area_icon_2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -90px;
    bottom: 140px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: linear-gradient(127deg, #14D8FF 14.44%, #17FFE3 111.05%);
    box-shadow: -6px 4px 19.3px 0px rgba(52, 174, 243, 0.74);
}

.area_icon_2 img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.bg_home_icon {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    max-width: max-content;
    height: 558px;
    width: 100%;
    mix-blend-mode: screen;
}

.area_texts_home {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    gap: 20px;
}

.title_home h2 {
    color: #F8FAFD;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.92px;
}

.title_home h2 b {
    color: #20C5D7;
    font-weight: 700;
}

.sub_title_home p {
    color: #FFF;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.sub_title_home p b {
    font-weight: 900;
}

.btn_home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    background: radial-gradient(50% 50% at 50% 0%, #2AD3F5 0%, #00A9CB 100%);
    padding: 20px 30px 20px 30px;
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_home h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    text-rendering: optimizeLegibility;
}

.btn_scale {
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_scale:hover {
    transform: scale3d(1.06, 1.06, 1.06);
}

.btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #00A9CB;
    padding: 10px 15px 10px 15px;
}

.btn_menu h2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
    text-rendering: optimizeLegibility;
}

.bg_home {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.logo_desktop {
    max-width: max-content;
    width: 100%;
    height: auto;
}

/*Container Cosimo*/

.container_cosimo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
    position: relative;
}

.bg_cosimo_1 {
    position: absolute;
    bottom: -20%;
    left: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.bg_cosimo_2 {
    position: absolute;
    top: 10%;
    right: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}


.container_cosimo_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_cosimo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: max-content;
}


.title_cosimo h2 {
    color: #0F1825;
    font-size: var(--font-info-title);
    font-weight: 400;
    line-height: 100%;
}


.title_cosimo h2 b {
    line-height: 100%;
    font-weight: 700;
}

.area_beneficios_total {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: max-content;
}

.area_beneficios {
    border-radius: 16px;
    border: 1px solid #ADBACC;
    width: 100%;
    max-width: 1120px;
    padding: 20px 40px 20px 20px;
}

.area_beneficios_int {
    display: flex;
    gap: 30px;
    max-width: max-content;
    width: 100%;
}

.card_beneficios {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.card_beneficios_int {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 240px;
    width: 100%;
}

.card_beneficios_int img {
    filter: drop-shadow(0px 4px 20px rgba(52, 174, 243, 1));
}

.separador {
    height: 110px;
    width: 1px;
    background-color: #ADBACC;
}

.info_beneficios p {
    color: #20252E;
    font-size: 18px;
    font-weight: 600;
    line-height: 166%;
}

.info_beneficios p b {
    font-weight: 800;
}



.container_operacao {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
    background: linear-gradient(26deg, #042769 67.07%, #00A9CB 166.42%);
}

.container_operacao_int {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1180px;
}

.title_operacao_principal h2 {
    color: #FFF;
    font-size: var(--font-info-title);
    font-weight: 700;
    line-height: 100%;
}

.area_operacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.card_operacao {
    border-radius: 14px;
    background: #FFFFFF;
    max-width: 380px;
    width: 100%;
    height: 485px;

}

.card_operacao_int {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 20px 40px 20px 40px;
}

.area_texts_operacao {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}


.title_operacao h2 {
    color: #0F1825;
    font-size: 24px;
    font-weight: 800;
    line-height: 130%;
}


.sub_title_operacao p {
    color: #20252E;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}


/*Container servicos*/

.container_servicos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_servicos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.area_servicos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.bg_servicos {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.bg_servicos_mobile {
    display: none;
}

@media(min-width:1920px) {
    .area_servicos {
        max-width: 1680px;
    }

}

.area_texts_servicos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 440px;
    width: 100%;
    padding: 0px 0px 0px 20px;
}

.title_servicos h2 {
    color: #0F1825;
    font-size: var(--font-info-title);
    font-weight: 700;
    line-height: 100%;
}

.sub_title_servicos p {
    color: #20252E;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.sub_title_servicos p b {
    font-weight: 800;
}


.area_oferecemos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1180px;
}

.title_oferecemos h2 {
    color: #0F1825;
    font-size: var(--font-info-title);
    font-weight: 700;
    line-height: 100%;
}

.area_cards_oferecemos {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.cards_oferecemos {
    border-radius: 8px;
    border: 1px solid #BAC6D3;
    background: #FFF;
    max-width: 220px;
    width: 100%;
    height: 210px;
    position: relative;
    padding: 0px 20px 25px 20px;
}

.line_oferecemos {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #C9CBCB;
    height: 4px;
    width: 18px;
    border-radius: 0px 20px 20px 0px;
}

.cards_oferecemos_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 180px;
    width: 100%;
    margin-top: -25px;
}

.cards_oferecemos_int img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.sub_title_oferecemos p {
    color: #20252E;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

/*Container quem somos*/

.container_quem_somos {
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
    width: 100%;
    background: #04071A;
    overflow: hidden !important;
}

.container_quem_somos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
}

.area_quem_somos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.bg_quem_somos {
    position: absolute;
    right: -60px;
    max-width: 1100px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.bg_quem_somos_mobile {
    display: none;
}

.area_texts_quem_somos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 550px;
}

.area_titles_quem_somos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_experiencia p {
    color: #196BC1;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 8.12px;
    text-transform: uppercase;
}

.title_quem_somos h2 {
    color: #FFF;
    font-family: Biryani;
    font-size: var(--font-info-title);
    font-weight: 700;
    line-height: 100%;
}

.sub_title_quem_somos p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.sub_title_quem_somos p b {
    font-weight: 800;
}

/*Container expertise*/

.container_expertise {
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
    width: 100%;
    position: relative;
}

.bg_cosimo_expertise_1 {
    position: absolute;
    top: -20%;
    left: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.bg_cosimo_expertise_2 {
    position: absolute;
    bottom: 20px;
    right: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.container_expertise_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_expertise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}


.title_expertise_principal h2 {
    color: #0F1825;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 100%;
}

.area_cards_expertise_total {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.area_cards_expertise {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.card_expertise {
    border-radius: 12px;
    background: #EAF0FA;
    max-width: 300px;
    width: 100%;
    height: 325px;
    padding: 30px 10px 30px 20px;
}

.card_expertise_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;
    width: 100%;
}

.card_expertise_int img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.title_expertise h2 {
    color: #0F1825;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.sub_title_expertise p {
    color: #0F1622;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

/*Footer*/
footer {
    width: 100%;
    background: #022350;
    padding: 40px 0px 40px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area_logo_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.moviva_logo_branco {
    display: flex;
    max-width: max-content;
    width: 100%;
    height: auto;
}

.info_logo_footer p {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
}

.area_menu_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
}

.infos_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: max-content;
}

.menu_footer p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

.copy p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.copy p a {
    text-decoration: none;
    color: #FFF;
}


@media(max-width:1024px) {

    :root {
        --font-size-title: 34px;
        --font-info-title: 30px;
        --font-size-sub-title: 16px;
    }

    .area_icon_2 {
        left: 0px;
    }

    .area_menu {
        padding: 20px 20px 0px 20px;
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 20px 20px 0px 20px;
    }

    @keyframes move {
        0% {
            right: -100%;

        }

        100% {
            right: 0px;
        }

    }

    .menu_open {
        display: flex;
    }

    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #container_menu {
        display: none;
        width: 100%;
        height: 100vh;
        opacity: 1;
        background: #03317ac2;
        position: fixed;
        top: 0px;
        z-index: 99;
        transition: all ease 400ms;
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .area_menu {
        flex-direction: column;
        width: 100%;
    }

    .area_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }

    .area_close_int {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1220px;
    }

    .close {
        cursor: pointer;
        max-width: max-content;
        width: 100%;
    }

    .area_menu nav {
        width: 100%;
    }

    .area_menu nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo_desktop {
        display: none;
    }

    nav ul li a {
        font-size: 30px;
    }

    .area_menu nav ul a {
        color: #FFFFFF;
        font-size: var(--font-size-title);
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.6px;
    }

    .area_texts_home {
        text-align: center;
        align-items: center;
    }

    .title_home h2 {
        line-height: 110%;
    }

    .btn_home {
        padding: 15px 20px 15px 20px;
    }

    .btn_home h2 {
        font-size: 14px;
    }

    .area_home {
        flex-direction: column;
        padding: 0px 20px;
        width: auto;
    }

    .bg_home_icon {
        right: 280px;
        top: auto;
        bottom: 0px;
    }

    /*Beneficios*/
    .area_beneficios_int {
        flex-direction: column;
    }

    .area_beneficios {
        max-width: 820px;
        padding: 20px 0px 20px 20px;
    }

    .card_beneficios {
        flex-direction: column;
        gap: 20px;
    }

    .separador {
        height: 1px;
        width: 100px;
        background-color: #ADBACC;
    }

    .bg_home_icon {
        display: none
    }

    .area_texts_quem_somos {
        padding: 0px 20px;
        width: auto;
    }

    .container_cosimo {
        padding: 40px 0px 40px 0px;
    }

    /*Container Operação*/

    .card_operacao {
        height: auto;
    }

    .container_operacao {
        padding: 40px 0px 40px 0px;
    }

    .container_operacao_int {
        align-items: center;
        gap: 30px;
        padding: 0px 20px;
    }

    .area_operacao {
        flex-direction: column;
    }

    /*Container serviços*/
    .container_servicos {
        padding: 40px 0px 40px 0px;
    }

    .area_servicos {
        flex-direction: column;
    }

    .area_bg_servicos {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .sub_title_servicos p {
        font-size: 18px;
    }

    .bg_servicos {
        max-width: 750px;
        width: 100%;
        height: auto;
    }

    .area_texts_servicos {
        padding: 0px;
    }

    .area_oferecemos {
        padding: 0px 20px;
        width: auto;
        max-width: 850px;
    }

    .area_cards_oferecemos {
        gap: 40px;
        flex-wrap: wrap;
    }

    /*Container expertise*/

    .container_expertise {
        padding: 40px 0px 40px 0px;
    }

    .area_expertise {
        gap: 30px;
    }

    .area_cards_expertise_total {
        gap: 30px;
    }

    .lines_bg {
        display: none;
    }

    .card_expertise {
        height: auto;
    }

    .area_cards_expertise {
        flex-direction: column;
        align-items: center;
    }


    .container_quem_somos {
        padding: 0px 0px 40px 0px;
    }

    .sub_title_quem_somos p {
        font-size: 16px;
    }

    .bg_quem_somos {
        max-width: 800px;
        position: static;
    }

    .area_quem_somos {
        flex-direction: column-reverse;
        gap: 20px;
    }

    /*Footer*/
    footer {
        padding: 40px 0px 50px 0px;
    }

    .container_footer_int {
        padding: 0px 20px;
    }

    .area_footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .infos_footer {
        max-width: 300px;
        width: 100%;
    }

    .area_logo_footer {
        align-items: flex-start;
    }

    .area_menu_footer {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

}

@media(max-width: 480px) {

    .container_home {
        padding: 140px 0px 0px 0px;
    }

    /*Containe cosimo*/

    .area_cosimo {
        padding: 0px 20px;
        gap: 30px;
    }

    .area_beneficios_total {
        max-width: 340px;
        width: 100%;
    }

    .title_cosimo h2 {
        text-align: center;
    }

    .area_quem_somos {
        gap: 0px;
    }

    .bg_quem_somos {
        display: none;
    }

    .bg_quem_somos_mobile {
        display: flex;
        max-width: max-content;
        width: 100%;
        height: auto;
    }

    /*Container serviços*/
    .bg_servicos {
        display: none;
    }

    .bg_servicos_mobile {
        display: flex;
        max-width: max-content;
        width: 100%;
        height: auto;
    }

    .area_texts_servicos {
        text-align: center;
        align-items: center;
        padding: 0px 20px;
        width: auto;
    }

    .area_oferecemos {
        align-items: center;
    }

    .cards_oferecemos {
        height: auto;
        max-width: 300px;
    }

    .cards_oferecemos_int {
        max-width: max-content;
    }

    .title_expertise h2 {
        font-size: 22px;
    }

    .sub_title_expertise p {
        font-size: 16px;
    }

    .area_whatsapp {
        bottom: 10px;
        right: 10px;
    }

    .area_whatsapp img {
        width: 100%;
        max-width: 60px;
        height: 60px;
    }

    .area_whatsapp a {
        height: 60px;
    }

    .container_footer_int {
        gap: 20px;
        padding: 0px 20px;
    }

    .area_menu_footer {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .area_footer {
        align-items: flex-start;
    }
}